.note_palette {
    display: flex;
    width: 40%;
    margin-top: 100px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
    .note_palette {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.iconPalette {
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.noteSubmit {
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.noteSubmit:hover {
    background-color: lightgrey;
}

.colorPalette {
    position: absolute;
    left: 100px;
    top: -130px;
    flex-wrap: wrap;
    max-width: 200px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19)
}

.colorChoice {
    height: 32px;
    width: 32px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid black;
}