.formField {
    padding: 5px;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
}

.formback {
    border: 1px solid rgb(212, 212, 212);
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.independet_text {
    padding: 15px 0 0 15px;
    font-size: 20px;
}

.name_field_containers,
.password_fields_container {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    justify-content: space-between;
}

.left_container {
    width: 40%;
}

.right_container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#userName {
    width: 100%;
}