.formField {
    padding: 5px;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
}

.independet_text {
    padding: 15px 0 0 15px;
    font-size: 30px;
}

.name_field_containers,
.password_fields_container {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    justify-content: space-between;
}

.left_container {
    padding-left: 25%;
    width: 30%;
}

#userName {
    width: 100%;
}