.loginFormback {
    border-radius: 10px;
    display: flex;
    padding: 30px;
    margin-top: 100px;
    border: 1px solid rgb(212, 212, 212);
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 350px;
}

.optionsLogin {
    float: right;
}

@media only screen and (max-width: 600px) {
    .loginFormback {
        border: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
}