.formField {
    padding-left: 10px;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
}

.formback {
    border: 1px solid rgb(212, 212, 212);
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.independet_text {
    padding: 15px 0 0 15px;
    font-size: 20px;
}

.name_field_containers,
.password_fields_container {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.left_container {
    width: 400px;
}

.right_container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#userName {
    width: 100%;
}

.options {
    margin-top: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    float: right;
    color: white;
    background-color: royalblue;
    font-size: larger;
    padding: 5px 20px 5px 20px;
    appearance: none;
    border-radius: 5px;
    transition: 0.5s;
    border: none;
}

.password_text {
    padding-left: 20px;
    opacity: 0.7;
    font-size: 12px;
}

button:hover {
    transition: 0.5s;
    transform: scale(1.04);
}

*:focus {
    outline: 0 !important;
}

.link {
    text-decoration: none;
    appearance: none;
    color: blue;
}

.link:hover {
    background-color: lightblue;
}

@media only screen and (max-width:800px) and (min-width:530px) {
    .formback {
        width: 450px;
    }
    .right_container {
        display: none;
    }
    .left_container {
        width: 100%;
    }
}

@media only screen and (max-width:530px) {
    .formback {
        border: 0;
        margin: none;
        margin-top: 0;
        padding: 0;
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }
    .left_container {
        margin: auto;
    }
    .right_container {
        display: none;
    }
    .name_field_containers,
    .password_fields_container {
        flex-direction: column;
    }
    .formField {
        padding-right: 10px;
    }
}